
/*importando o css do header que está na pasta styles, Obs. assim no nosso index fica com poucas linhas de importação de css e nossa página carrega bem mais rápido*/
@import url("styles/header.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
}