
.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*ele libera a opção de você colocar os atributos como top, left, right e bottom*/
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

/*menu do header*/
.lista-menu {
    display: none;
    /*ele permite que você movimente o seu elemento de acordo com outro que veio antes que é o pai que esteja position diferente de static que é a padrão*/
    position: absolute;
    /*colocando ele em baixo*/
    top: 100%;
    /*coloando uma largura maior na lista, o "vw" pega a largura da tela*/
    width: 60vw;
}

/*o :checked é uma pseudo classe ele detecta se está preenchido o chacekbox e o "~" ele é um combinador css que procura um outro elemento em seguida do anterior a ele, esse exemplo e o que chega mais perto de uma condicional css*/
.container__botao:checked~.lista-menu {
    display: block;
}

/*estilizando o a lista, menu*/
.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

/*removendo o icone de checkbox*/
.container__botao {
    display: none;
}

/*sumindo com o título*/
.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

/*iniciando a media queries, layout tablet*/
@media screen and (min-width: 1020px) {
    /*header*/
    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        /*aparece o título*/
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        /*deixa a largura um pouco menor*/
        width: auto;
    }

    .opcoes__botao {
        /*sumindo com o botão*/
        display: none;
    }
}